/*
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#game-container {
    position: relative;
    background: #bbbbbb;
    width: auto;
    height: auto;
    max-height: 90vh;
    max-width: 90%;

    aspect-ratio: 16 / 9;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
*/

@font-face {
    font-family: 'VAGRounded';
    src: url('../public/fonts/VAGRounded_BT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRounded';
    src: url('../public/fonts/VAGRoundedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: block;
    overflow: hidden;
}

#game-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    overflow: hidden;
}

